[submodule "astrow-device"]
	path = astrow-device
	url = https://github.com/astrow/astrow-device
[submodule "astrow-ui"]
	path = astrow-ui
	url = http://github.com/astrow/astrow-ui
[submodule "astrow-server"]
	path = astrow-server
	url = http://github.com/astrow/astrow-server
